html{
    background-image: url('../../img/img_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}
main{
    text-align:start;
    height: 60vh;
    color: white;
    padding: 3rem;
}

button{
    height: 2rem;
    cursor: pointer;
    border: none;
}

.texto-main{
    margin-top:20vh;
    height:20rem;
    width: 20%;
    justify-content: center;
    padding: 1rem;
    
    }