header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    
}

img{
    width: 6rem;
    height: 5rem;
    margin-left: 2rem;
    }

.nav-op{
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    margin: 0 1rem;
    cursor: pointer;
}