footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 2rem;
}

img{
width: 6rem;
height: 5rem;
margin-left: 2rem;
}


a{
    margin: 0 1rem;
}